:root {
    --primary-color: #afc1ee;
    --secondary-color: #4b5977;
    --tertiary-color: #769f5f;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: 'Times New Roman', Times, serif;
}

/* START HEADER STYLE */
header {
    padding: 10px 0;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 9999;
}

header h1 {
    color: var(--secondary-color);
    font-size: 50px;
    padding: 15px 15px 15px 100px;
    margin: 0px;
    background-color: var(--tertiary-color);

}

header a {
    text-decoration: none;
}

header nav {
    margin: 25px 0;

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: var(--secondary-color);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
    
}


/* END HEADER STYLE */

.hero {
    background-image: url("../assets/images/faders.jpeg");
    background-size: cover;
    display: flex;
    background-position: 100%;
    background-attachment: fixed;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 300px;
    position: relative;

}

.hero-text h2 {
    font-size: 30px;
    background-color: var(--tertiary-color);
    position: absolute;
    bottom: 40px;
    
}

/* START ROW & COLUMN STYLE */
.row {
    display: flex;
    padding: 25px;
    

}

.row h2 {
    font-size: 45px;
    align-items: flex-start;
}

.column1 {
    flex: 5%;
    border-right: 2px solid var(--tertiary-color);
    text-align: right;
    padding-right: 10px;
}

.column2 {
    flex: 50%;
    border-right: none;
    padding-left: 10px;
}